@import "./variables.scss";

*, *::after, *::before{
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

a, h2{
    font-family: $fue-principal;
}

.titulo{
    font-weight: 700;
    font-size: 4.8rem;
    color: $col-primario;
    text-align: center;
}